@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-game.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;  
    text-shadow: 0px 1px 1px rgba(185, 105, 7, 0.5);
}

.container {
    background-color: rgba(249, 229, 152, 0.8); /* Semi-transparent background */
    opacity: 1; /* Ensure the entire container is fully opaque */
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

.hint-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    min-height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tag-item {
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    cursor: move;
    user-select: none;
    transition: background-color 0.3s ease;
}
.tag-item.dragging {
    opacity: 0.5;
    background-color: #b3d9ff;
}
.remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 10px;
}
.tag-placeholder {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.sortable-ghost {
    opacity: 0.4;
}

.sortable-chosen {
    background-color: #f0f0f0;
}

.sortable-drag {
    cursor: grabbing;
}